.menu{
    display: flex;
    justify-content: center;
}
.mainMenu{
    font-size: 2em;
}
.mainMenu li:hover, a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
    transition: 0.5s;
}
.players{
    padding-left: 10%;
}
.players li{
    padding-bottom: 10px;
}
.players span{
    font-size: 1.5em;
}
.error{
    border: 1px solid red;
}
.noStyle{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}
.clicked{
    color: white;
    text-decoration: underline;
}